nav {
    background-color: #1F2937;
      padding: 20px 0;
      display: flex;
      justify-content: space-between;
      gap: 5px;
      box-shadow: 0 2px 5px rgba(0,0,0,0.1);
      text-decoration: none;
    }
    
nav a {
      text-decoration: none;
      color: #FFFF;
      font-weight: bold;
      font-family: "Roboto";
      font-size: 1.2rem;
      flex: 1;
        text-align: center;
     }

     .hero-image {
        width: 100%;
        height: auto;
     }

